
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica La eterna primavera</title>
</head>
<body>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAD/AAD
    //wCH5BAEAAAALAAAAAABAAEAAAICRAEAOw==" alt="Texto alternativo de la imagen">
</body>
</html>
<style>
    .sustituida {
        box-sizing:border-box;
        display:block;
        width:115px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
        height:115px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
        padding-left:115px; /*Padding igual al ancho de la imagen nueva*/
        background: url(grafo.PNG)
}

</style>